.advantages-list {
    display: block;
    margin: -15px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between; 
    }
    

    // &>li {
    //     width: 450px;
    // }
}


.advantages .container {
    @media screen and (max-width: 768px - 1px) {
        padding-bottom: 0;
        
    }
}

.advantages-title {
    font-family: 'Roboto', sans-serif;
    @include fonts(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: $secondary-text-color;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.advantages-icon {
    margin: 15px;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px) / 2 );
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 120px) / 4 );
    }
}
// .advantages-icon:not(:last-child) {
//     margin-bottom: 30px;
    
// }

.advantages-icon::before {
    content: '';
    display: block;
    height: 120px;
    background: $background-icon;
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    // margin-bottom: 30px;
}

.antenna::before {
    background-image: url('../images/antenna1.svg');
}

.clock::before {
    background-image: url('../images/clock1.svg');
}

.diagram::before {
    background-image: url('../images/diagram1.svg');
}

.astronaut::before {
    background-image: url('../images/astronaut1.svg');
}
