.hero {
    background-color: $background-color;
    text-align: center;
}

.overlay {
    max-width: 1600px;
    // height: 600px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../../images/hero/hero_mobile1x.jpg);
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 480px) {
        .overlay {
            background-image: url(../../images/hero/hero_mobile1x.jpg);
        }
        @media screen and (min-resolution: 2dppx) {
            .overlay {
                background-image: url(../../images/hero/hero_mobile2x.jpg);
            }
        }
    }

    @media screen and (min-width: 768px) {
        .overlay {
            background-image: url(../../images/hero/hero_tablet1x.jpg);
        }
        @media screen and (min-resolution: 2dppx) {
            .overlay {
                background-image: url(../../images/hero/hero_tablet2x.jpg);
            }
        }
    }

    @media screen and (min-width: 1200px) {
        .overlay {
            background-image: url(../../images/hero/hero_desktop1x.jpg);
        }
        @media screen and (min-resolution: 2dppx) {
            .overlay {
                background-image: url(../../images/hero/hero_desktop2x.jpg);
            }
        }
    }
}

.main-title {
    // @include fonts(900, 44px, 1.62, 0.06em);
    @include fonts(900, 26px, 1.62, 0.06em);
    text-align: center;
    text-transform: uppercase;  
    color: $main-title-text-color;
    padding-top: 118px;
    padding-bottom: 30px;
}