
.services .container {
    padding-bottom: 94px;
    display:none;
    @media screen and (min-width: 1200px){
        display: block;
    }
}
.services-list {
       
    @media screen and (min-width: 1200px){
        display: flex;
        justify-content: space-between;
    }
}

.services-list-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 70px;
        background-color: $background-color-opacity; 
        z-index: 1;
       }
       
    &>p {
        position: absolute;
        z-index: 2;
        color: $main-title-text-color;
        text-transform: uppercase;
        font-family: inherit; 
        font-weight: 700;
        margin: 0; 
        padding-bottom: 25px;
    }
}

.services-title {
        @media screen and (min-width: 1200px){
        display: block;
    }
}
   


